ul{
   

}

a:link { text-decoration: none;
color: white; }
a:visited { text-decoration: none;
color: white; }

#home{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 20%;
    border-bottom: 1px white solid;
    color: white;
    font-size: 2vh;
    font-family: 'Times New Roman', Times, serif;
}
li{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    padding: 20%;
    border-bottom: 1px white solid;
    color: white;
    font-size: 2vh;
    font-family: 'Times New Roman', Times, serif;
}
li:hover{
    background-color: red;
}
a{
    display: block;
    text-align: center;
}

body{
    background-color: black;
}
