/* Basic styling for better visibility */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

li {
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}

li:hover {
    background-color: #f0f0f0;
}

/* Sub-options styling */
ul.sub-options {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

li:hover .sub-options {
    display: block;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: none; /* Hide table by default */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Button styling */
.reservation-button, button {
    background-color: #2E8A99;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* Remove underline for links */
    display: inline-block; /* Ensure consistent appearance for buttons and links */
    text-align: center; /* Center text in the button */
}

.reservation-button:hover, button:hover {
    background-color: #1F6E8C;
}
